fastapi==0.115.5
uvicorn[standard]>=0.34.0
numpy>=2.1.0,<2.4.0
opencv-python-headless>=4.10.0
face-recognition==1.3.0
aiofiles==24.1.0
python-multipart==0.0.12
passlib[bcrypt]
pyjwt
python-jose[cryptography]
pydantic[email]
